<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixShutdown_0004</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHCI to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHCI2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
		</array>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 darkwake=1</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>EFI</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>16F70</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AMD9510Controller</string>
	<key>CFBundleGetInfoString</key>
	<string>AMD9510Controller 1.51.8 18578</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.kext.AMD9510Controller</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Radeon HD 9510 Controller</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.51.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.5.1</string>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8V109d</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16F70</string>
	<key>DTSDKName</key>
	<string>macosx10.12internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V109d</string>
	<key>Devices</key>
	<dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,GfxYTile</string>
				<key>Value</key>
				<data>
				CqqqAA==
				</data>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>11</string>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x19120000</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hotkey</key>
					<string>w</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\Microsoft\Boot\bootmgfw-orig.efi</string>
					<key>Title</key>
					<string>Windows 10</string>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>C46F708C-863C-4F0C-8DE6-A1A247B6B14F</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
			<string>Windows</string>
			<string>Recovery HD</string>
			<string>Recovery</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1280x1024</string>
		<key>Theme</key>
		<string>mine</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Controller</key>
		<dict>
			<key>ATY,Berbice</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_PTPL2_TBL</key>
					<data>
					IwAAACIAAAAhAAAAIAAAAB8AAAAeAAAAHQAA
					ABwAAAAbAAAAGgAAABkAAAAXAAAAFQAAABMA
					AAAQAAAABgAAAA==
					</data>
					<key>CFG_USE_AGDC</key>
					<true/>
					<key>CFG_USE_FBC</key>
					<true/>
					<key>CFG_USE_STUTTER</key>
					<true/>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_DisableClockStretcher</key>
					<integer>1</integer>
					<key>PP_EnableLoadFalconSmcFirmware</key>
					<integer>1</integer>
					<key>PP_MclkDpmTuning0</key>
					<integer>3957766</integer>
					<key>PP_MclkDpmTuning1</key>
					<integer>527360</integer>
					<key>PP_SclkDpmTuning0</key>
					<integer>5923858</integer>
					<key>PP_SclkDpmTuning1</key>
					<integer>5900302</integer>
					<key>PP_SclkDpmTuning2</key>
					<integer>5898240</integer>
					<key>PP_SclkDpmTuning3</key>
					<integer>5898240</integer>
					<key>PP_SclkDpmTuning4</key>
					<integer>1967622</integer>
					<key>PP_SclkDpmTuning5</key>
					<integer>1968128</integer>
					<key>PP_SclkDpmTuning6</key>
					<integer>1968128</integer>
					<key>PP_SclkDpmTuning7</key>
					<integer>1968128</integer>
				</dict>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD9510Controller</string>
			<key>IOClass</key>
			<string>AMD9510Controller</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOName</key>
			<string>AMD9510Controller</string>
			<key>IOPCIMatch</key>
			<string>0x67DF1002 0x67EF1002</string>
			<key>IOProbeScore</key>
			<integer>65040</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_APER_MODE</key>
				<integer>1</integer>
				<key>CFG_CAA</key>
				<integer>0</integer>
				<key>CFG_FB_LIMIT</key>
				<integer>0</integer>
				<key>CFG_FORCEMAXDPM</key>
				<false/>
				<key>CFG_FORCE_MAX_DPS</key>
				<false/>
				<key>CFG_GEN_FLAGS</key>
				<integer>0</integer>
				<key>CFG_INT_SSPC</key>
				<integer>25</integer>
				<key>CFG_NODM</key>
				<true/>
				<key>CFG_NO_HDCP</key>
				<false/>
				<key>CFG_NO_MSI</key>
				<false/>
				<key>CFG_NO_MST</key>
				<false/>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_NO_SLS</key>
				<false/>
				<key>CFG_PAA</key>
				<integer>0</integer>
				<key>CFG_PULSE_INT</key>
				<true/>
				<key>CFG_TRANS_WSRV</key>
				<true/>
				<key>CFG_USE_AGDC</key>
				<false/>
				<key>CFG_USE_CP2</key>
				<false/>
				<key>CFG_USE_DPT</key>
				<false/>
				<key>CFG_USE_FBC</key>
				<false/>
				<key>CFG_USE_FEDS</key>
				<true/>
				<key>CFG_USE_LPT</key>
				<false/>
				<key>CFG_USE_REGAMMA</key>
				<true/>
				<key>CFG_USE_SRRB</key>
				<false/>
				<key>CFG_USE_STUTTER</key>
				<true/>
				<key>DALReadDelayStutterOff</key>
				<integer>4</integer>
				<key>DALUseUrgencyWaterMarkOffset</key>
				<integer>0</integer>
			</dict>
			<key>aty_properties</key>
			<dict>
				<key>PP_DisableCAC</key>
				<integer>0</integer>
				<key>PP_DisableDIDT</key>
				<integer>0</integer>
				<key>PP_DisableFFC</key>
				<integer>1</integer>
				<key>PP_DisablePowerContainment</key>
				<integer>0</integer>
				<key>PP_DisableULV</key>
				<integer>0</integer>
				<key>PP_DisableVoltageIsland</key>
				<integer>1</integer>
				<key>PP_EnableBAPM</key>
				<integer>0</integer>
				<key>PP_EnableLoadFalconSmcFirmware</key>
				<integer>1</integer>
				<key>PP_EnablePerDPM</key>
				<integer>1</integer>
				<key>PP_Falcon_QuickTransition_Enable</key>
				<integer>1</integer>
				<key>PP_MclkActivityTarget</key>
				<integer>5</integer>
				<key>PP_MclkDpmDisabled</key>
				<integer>0</integer>
				<key>PP_MclkDpmTuning0</key>
				<integer>2057216</integer>
				<key>PP_MclkDpmTuning1</key>
				<integer>2057216</integer>
				<key>PP_PhmUseDummyBackEnd</key>
				<integer>0</integer>
				<key>PP_SclkDpmTuning0</key>
				<integer>1991680</integer>
				<key>PP_SclkDpmTuning1</key>
				<integer>1991680</integer>
				<key>PP_SclkDpmTuning2</key>
				<integer>1991680</integer>
				<key>PP_SclkDpmTuning3</key>
				<integer>1991680</integer>
				<key>PP_SclkDpmTuning4</key>
				<integer>1991680</integer>
				<key>PP_SclkDpmTuning5</key>
				<integer>1991680</integer>
				<key>PP_SclkDpmTuning6</key>
				<integer>1991680</integer>
				<key>PP_SclkDpmTuning7</key>
				<integer>1991680</integer>
			</dict>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelHaswellE</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g710////Gw==
				</data>
			</dict>
		</array>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.2</string>
		<key>com.apple.kext.AMDSupport</key>
		<string>1.5.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02PHDSWH2YQAC279</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>06/26/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM171.88Z.0106.B01.1706260138</string>
		<key>Board-ID</key>
		<string>Mac-B809C3757DA9BB8D</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x13</string>
		<key>Family</key>
		<string>iMac17,1</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>iMac17,1</string>
		<key>SerialNumber</key>
		<string>C02PHDSWH2YQ</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
